body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}
.text-muted {
	color :#BCBBBB;
}
.text-thin {
	font-weight: 100;
}

.lineStyle {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.title-super {
	font-size: 60px;
}

.blur {
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.blur:hover {
	-webkit-filter: blur(5px);
}

#face {
	margin-top: 20px;
	!border-radius:50%;
}

#hangmanpic {
	padding-top:28px;
	padding-bottom:25px;
}